pre, code {
    white-space: pre-wrap; /* Permite el ajuste automático de las líneas */
    word-wrap: break-word; /* Rompe las palabras largas en caso necesario */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

table {
    margin: 0 auto;
    text-align: center;
}
  